quartz.scheduler.instanceName = MyScheduler

quartz.threadPool.maxConcurrency = 3

quartz.serializer.type = json

quartz.jobStore.tablePrefix = qrtz_
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz
quartz.jobStore.dataSource = PostgreSQL

quartz.dataSource.PostgreSQL.provider = Npgsql
quartz.dataSource.PostgreSQL.connectionString = Host=localhost;Port=5432;Database=Quartz;Username=postgres;Password=postgres
